---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MiniCard from '../components/MiniCard.astro';
---

<Layout title="Crystal Dev">
	<main>
		<div class="grid">
			<div class="content">

				<img src="/logo3.ico" />
				<h1> <span class="text-gradient">Crystal Team</span> </h1>
				<h2>Je crée des sites et applications moderne!</h2>

				<div class="cards">
					<Card 
						href="/about"
						title="A propos de moi!"
						body="Découvez qui je suis et mes compétences!"
					/>
					<Card 
						href="/projet"
						title="Nos projet!"
						body="Découvez les projets sur lesquels je travaille!"
					/>
				</div>

				<div class="cards">
					<MiniCard 
						href="https://github.com/PrinceStarWolf"
						title="Mon Github!"
					/>
				</div>
			</div>

		</div>
	</main>
</Layout>


<style>
	main {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;

		margin-top: 60px;
		padding: 1em;

		animation: fadeIn 0.7s;
	}

	@keyframes fadeIn {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}
	.grid {
		display: grid;
		grid-gap: 50px;
		grid-template-columns: repeat(minmax(350px,1fr), auto-fit );
		justify-self: center;

	}

	h1 {
		font-size: 100px;
		font-weight: 800;
		margin: 0;
  		justify-self: center;
	}
	h2 {
		color: white;
		margin: 0;
  		text-align: center;
	}
	img {
		height: 250px;
		width: 250px;
  		justify-self: center;
	
		animation: movedown 0.7s;
	}

	@keyframes movedown {
		from {transform: translateY(-25%); opacity: 0;}
		to {transform: translateY(0%); opacity: 1;}

	}

	.content{
    	display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		justify-self: center;
	}
	.cards{
    	display: flex;
		flex-direction: inline;

		margin-top: 25px;
		justify-self: center;

		animation: moveup 0.7s;
	}

	@keyframes moveup {
		from {transform: translateY(40%); opacity: 0;}
		to {transform: translateY(0%); opacity: 1;}

	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 2;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		padding: 1rem;
		border-radius: 0.4rem;
		color: white;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}


	@media only screen and (max-width: 980px) {
		img {
			height: 150px;
			width:150px;
		}

		.cards{
			display: flex;
			flex-direction: column;

			margin-top: 25px;
		}

		h1 {
			font-size: 60px;
		}
	}
</style>